<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Custom Chrome</title>
    <link rel="stylesheet" href="./css/element-ui.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div id="bookmarks">
        <el-tabs type="border-card">
            <el-tab-pane label="书签管理">
                <el-row>
                    <el-col :span="20">
                        <el-input placeholder="输入关键字进行过滤" v-model="filterText">
                        </el-input>
                    </el-col>
                    <el-col :span="4" class="xxx">
                        <el-checkbox v-model="checked">未完成阅读</el-checkbox>
                    </el-col>
                </el-row>
                <el-tree class="filter-tree" node-key="id" :data="marks" :props="defaultProps" default-expand-all :filter-node-method="filterNode"
                    ref="tree">
                    <span class="custom-tree-node" slot-scope="{ node, data }">
                        <span>
                            <a :href="data.url" target="_blank">{{ data.label }}</a>
                        </span>
                        <span>
                            <!-- <el-button type="text" size="mini" @click="() => append(data)">
                                        Append
                                    </el-button>
                                    <el-button type="text" size="mini" @click="() => remove(node, data)">
                                        Delete
                                    </el-button> -->
                        </span>
                    </span>
                </el-tree>
            </el-tab-pane>
            <el-tab-pane label="文档笔记">文档笔记</el-tab-pane>
        </el-tabs>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="./js/vendor/vue.js"></script>
    <script src="./js/vendor/element-ui.js"></script>
    <script src="./js/popup.js"></script>
</body>

</html>